body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.div {
    border: 1px solid;
    padding: 20px; 
    font-size: 1.25rem;
    width: 80%; 
    max-width: 600px; 
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.button {
    font-size: 1.25rem; 
    background-color: green;
    color: white;
    cursor: pointer;
    transition: 200ms ease-in-out;
    border: 2px solid;
    border-radius: 4px;
    padding: 10px 20px; 
    margin: 10px 0; 
}

.button:hover {
    background-color: rgb(0, 197, 0);
}

.input {
    height: 30px; 
    margin: 10px 0;
    font-size: 1rem; 
    padding: 5px 10px; 
}
